In [105]:
import os, gc, warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import datetime as dt

import matplotlib.pyplot as plt
import matplotlib
#matplotlib.rc['font.size'] = 9.0
matplotlib.rc('font', size=20)
matplotlib.rc('axes', titlesize=20)
matplotlib.rc('axes', labelsize=20)
matplotlib.rc('xtick', labelsize=20)
matplotlib.rc('ytick', labelsize=20)
matplotlib.rc('legend', fontsize=20)
matplotlib.rc('figure', titlesize=20)
import seaborn as sns
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import plotly.plotly as py
import plotly.figure_factory as ff
init_notebook_mode(connected=True)
from IPython.display import display
from IPython.core.display import HTML
%matplotlib inline

In [136]:
city = pd.read_csv("data/CityLocations.csv")
df = pd.read_csv("data/fatal-police-shootings-data.csv")

In [137]:
df.sample(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2448,2721,TK TK,2017-06-30,shot,gun,NaN,F,NaN,Denver,CO,False,attack,Car,False
2174,2416,Luke O. Stewart,2017-03-13,shot,vehicle,23.0,M,B,Euclid,OH,False,other,NaN,True
2049,2278,TK TK,2017-01-31,shot and Tasered,knife,NaN,M,B,Hollywood,CA,True,attack,Not fleeing,False
53,101,Demaris Turner,2015-01-23,shot,vehicle,29.0,M,B,Fort Lauderdale,FL,False,other,Not fleeing,False
623,753,Jason Hale,2015-08-19,shot,gun,29.0,M,W,Hunters,WA,True,attack,Foot,False

In [ ]:
state_code_to_name = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'PR': 'Puerto Rico',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

In [140]:
df['date'] = pd.to_datetime(df['date'])
df['Year'] = df.date.dt.year
df['Date'] = df.date.dt.day
df['Month'] = df.date.dt.month
df['state_name'] = df['state'].map(lambda x: state_code_to_name[x])

In [141]:
data = [ dict(
        type='choropleth',
        #colorscale = "Viridis",
        autocolorscale = True,
        locations = df['state'].value_counts().index,
        z = df['state'].value_counts().values,
        locationmode = 'USA-states',
        #text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Count")
        ) ]

layout = dict(
        title = 'Fatal Police Shootings in the United States since 2015<br>(Hover for Count)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
iplot(fig)

In [147]:
trace = [go.Bar(x = df.state_name.value_counts().index[:5],
              y = df.state_name.value_counts().values[:5],
                  marker=dict(
        color='rgb(158,202,225)',
        line=dict(
            color='rgb(8,48,107)',
            width=1.5,
        )
    ),
    opacity=0.6,
)]

layout = go.Layout(title = "Top 5 States with Fatal Police Shootings", )

fig = dict(data=trace, layout=layout)
iplot(fig)

In [161]:
df.body_camera.dropna().value_counts()

False    3101
True      363
Name: body_camera, dtype: int64